
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: .5rem;
    background-color: rgba(0, 0, 0, 0.7); /* Set consistent background color */
    color: white;
    transition: background-color 0.3s ease;
    z-index: 1000;
  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-content h1 {
    margin: 0;
    color: #24a8e6;
  }
  
  .navbar-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-content ul li {
    text-decoration: none;
    display: flex;
    flex-direction: row;
  }
  
  .navbar-content ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .navbar-content ul li a:hover {
    text-decoration: none;
    color: #24a8e6;
  }
  
  /* Ensure the background remains consistent even when scrolled */
  .navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.7); /* Keep the same background color when scrolled */
  }
  
  /* Hamburger menu styles */
  .hamburger {
    display: none; /* Hide the hamburger icon by default */
    cursor: pointer;
  }
  
  /* Default display for nav-links (on full screen) */
  .nav-links {
    display: flex; /* Show nav links normally */
    align-items: end;
    justify-content: right;
  }
  
  .nav-links.open {
    display: flex; /* Show nav links when menu is open */
    flex-direction: column;
    position: absolute;
    top: 48px; /* Adjust according to your navbar height */
    right: 0;
    left: 0;
    /* background-color: transparent; */
    background-color: rgba(0, 0, 0, 0.7); 
    width: 100%;
    z-index: 999; /* Make sure it's on top of everything */
    align-items: center;
    justify-content: center;
  }
  
  .nav-links.open li a {
    /* border: none; */
  }
  
  .nav-links li {
    margin: 0; 
    padding: 1rem; 
  }
  
  /* Media Query for responsiveness */
  @media (max-width: 768px) {
    .navbar-content h1 {
      font-size: 90%;
      width: 100%;
    }
    .navbar-content ul li {
      margin-right: .1rem;
    }
    .navbar-content ul li a {
      font-size: 90%;
      font-weight: 400;
    }
  
    /* Display the hamburger icon on smaller screens */
    .hamburger {
      display: block; 
    }
  
    /* Hide nav-links by default */
    .nav-links {
      display: none; 
      flex-direction: column; 
      /* background-color: rgba(0, 0, 0, 0.7);  */
      position: fixed;
      top: 48px;
      right: -200%; 
      left: 0;
      z-index: 999;
      align-items: center;
      justify-content: center;
      transition: right 0.6s ease-in-out; 
    }
  
    /* Show nav-links when the menu is open */
    .nav-links.open {
      right: 0; 
    }
  }
  