/* article {
  --img-scale: 1.001;
  --title-color: #fff;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 26px;
  box-shadow: none;
  background: #003363;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
} */

article {
  --img-scale: 1.001;
  --title-color: #fff;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 15px;
  box-shadow: none;
  background: #003363;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  width: 24.5rem !important;
  height: 25rem;
  margin-left: -24.5%;
  margin-right: 10px;
  overflow-y: scroll;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  /* font-family: "Bebas Neue", cursive; */
  font-size: 1.5rem;
  /* letter-spacing: 0.06em; */
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

article a,
article p {
  color: var(--title-color) !important;
  /* font-size: 0.75rem; */
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--title-color);
}

article a:focus {
  outline: 1px dotted #24a8e6;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #24a8e6;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.articles {
  display: grid;
  min-width: 100%;
  height: auto;
  margin-inline: auto;
  /* padding-inline: 4px; */
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  gap: 2px;
  /* height: 70vh; */
}

/* @media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }
  .article-body p {
    display: none;
  }
}

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }
  .article-body {
    padding-left: 0;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
} */

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background: #003363;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  height: 100%;
  color: white;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.modal-content .buttons {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 30px;
  /* margin-left: 30%; */
}

.modal-content .buttons .button {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 1px solid #fafafa;
  font-size: 0.95rem;
  color: #003363;
  line-height: 1;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
  width: 100%;
}

.modal-content .buttons .button:hover {
  background-color: transparent;
  color: #fff;
}

.modal-content input,
.modal-content textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.modal-content textarea {
  height: 30vh;
}
.modal-content button {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:last-child {
  background: #ccc;
}

.modal-content button:first-child {
  background: #007bff;
  color: #fff;
}

.icon-container {
  position: relative;
  /* bottom: 10px; */
  /* right: 10px; */
  display: flex;
  justify-content: center;
  /* padding-right: 20px; */
  /* padding-bottom: 10px; */
  gap: 10px;
}

@media (max-width: 768px) {

  .articles article{
    display: flex;
    flex-direction: column;
    width: 95% !important;
    margin-left: 5%;
    height: 22em;
    
  }

  .article-body h2{
    font-size: 20px;
  }

  .article-body p {
    margin-bottom: 20px;
  }
}

@media (max-width: 800px) {

  .articles article{
    display: flex;
    flex-direction: column;
    width: 95% !important;
    margin-left: 5%;
    height: 22em;
    
  }

  .article-body h2{
    font-size: 20px;
  }

  .article-body p {
    margin-bottom: 20px;
  }
}
@media (min-width: 575px) {
  .articles {
    width: 108%;
    margin-left: -3.5%;
    
  }
}

@media (max-width: 375px) {
  .articles {
    display: flex;
    flex-direction: column;
    /* height: 48vh; */
    width: 120%;
    margin-left: -20px;
    grid-template-columns: repeat(1, 1fr);
    
  }
  .modal-content {
    width: 92%;
    height: 85vh;

  }
}

@media (max-width: 360px) {
  .articles {
    display: flex;
    flex-direction: column;
    width: 120%;
    height: auto;
    margin-left: -20px;
    
  }
  .modal-content {
    width: 92%;
    height: 85vh;

  }
}

@media (max-width: 344px) {
  .articles {
    display: flex;
    flex-direction: column;
    width: 120%;
    height: auto;
    margin-left: -20px;
    
  }
  .modal-content {
    width: 92%;
    height: 85vh;

  }
}


@media (max-width: 412px) {
  .articles article{
    display: flex;
    flex-direction: column;
    width: 140% !important;
    
  }
  .modal-content {
    width: 92%;
    height: 85vh;

  }
}