.projects-container {
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding: 60px;
  padding-top: 80px;
  box-sizing: border-box;
  /* margin-top: 2px; */
}

a,
a:link,
a:visited {
  text-decoration: none;
  padding: 9px 15px;
  /* border: 1px solid #ececec; */
  border-radius: 5px;
  color: gray;
}

.animate {
  font-size: 50px;
  margin: 100px 0 0;
}

.animate span {
  display: inline-block;
}

a.repeat {
  display: inline-block;
  font-size: 12px;
  text-transform: none;
  text-decoration: none;
  color: orange;
  padding: 5px 12px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-weight: normal;
  margin: 0 0 0 50px;
  border-radius: 3px;
  position: relative;
  bottom: 15px;
}

/*  */

a.repeat:hover {
  background: rgba(0, 0, 0, 0.7);
  color: white;
}

.animate span:nth-of-type(2) {
  animation-delay: .05s;
}

.animate span:nth-of-type(3) {
  animation-delay: .1s;
}

.animate span:nth-of-type(4) {
  animation-delay: .15s;
}

.animate span:nth-of-type(5) {
  animation-delay: .2s;
}

.animate span:nth-of-type(6) {
  animation-delay: .25s;
}

.animate span:nth-of-type(7) {
  animation-delay: .3s;
}

.animate span:nth-of-type(8) {
  animation-delay: .35s;
}

.animate span:nth-of-type(9) {
  animation-delay: .4s;
}

.animate span:nth-of-type(10) {
  animation-delay: .45s;
}

.animate span:nth-of-type(11) {
  animation-delay: .5s;
}

.animate span:nth-of-type(12) {
  animation-delay: .55s;
}

.animate span:nth-of-type(13) {
  animation-delay: .6s;
}

.animate span:nth-of-type(14) {
  animation-delay: .65s;
}

.animate span:nth-of-type(15) {
  animation-delay: .7s;
}

.animate span:nth-of-type(16) {
  animation-delay: .75s;
}

.animate span:nth-of-type(17) {
  animation-delay: .8s;
}

.animate span:nth-of-type(18) {
  animation-delay: .85s;
}

.animate span:nth-of-type(19) {
  animation-delay: .9s;
}

.animate span:nth-of-type(20) {
  animation-delay: .95s;
}


/* Animation One */

.one span {
  color: #24a8e6;
  opacity: 0;
  transform: translate(-150px, -50px) rotate(-180deg) scale(3);
  animation: revolveScale .4s forwards;
}

@keyframes revolveScale {
  60% {
    transform: translate(20px, 20px) rotate(30deg) scale(.3);
  }

  100% {
    transform: translate(0) rotate(0) scale(1);
    opacity: 1;
  }
}


.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px 30px;
  /* justify-content: center; */
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  /* max-width: 100%; */
  /* margin: 0 auto; */
}



/* .card-hover__title {
  margin-left: 16%;
}

.card-hover__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%; 
  margin: 0 auto;
}

.card-hover:hover .card-hover__text {
  white-space: normal;
  overflow: visible;
} */


/* 
.modalr {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalr-content {
  background: #001931;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modalr-content h2 {
  margin-bottom: 10px;
}

.modalr-content label {
  display: block;
  margin-bottom: 10px;
}

.modalr-content input {
  margin-top: 5px;
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modalr-content textarea {
  width: 90%;
} */

/* Larger screens, 992px and above */
/* @media (min-width: 992px) {
  .cards-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    padding: 20px 40px;
    margin-left: -10% !important;
  }
} */
.pagination-controls {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pagination-button {
  width: 120px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background-color: #24a8e6;
  color: #FFF;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.pagination-button:hover:not(.disabled) {
  background-color: #1a8ac1;
  transform: scale(1.05);
}

.pagination-button.disabled {
  background-color: gray;
  cursor: not-allowed;
}

.pagination-info {
  margin: 0 10px;
  color: white;
  font-size: 16px;
}

@media (max-width: 912px) {
  .cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 15px 40px !important;
    margin: 0 auto !important;
    /* margin-left: 0.2% !important; */
    /* padding: 15px 20px; */
  }

}

@media (max-width: 820px) {
  .cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 55px 20px !important;
    margin: 0 auto !important;
    /* padding-left: 24% ; */
    /* padding: 15px 20px; */
  }

}

@media (max-width: 768px) {
  .cards-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 15px 65px !important;
    /* justify-content: center; */
    /* align-items: center; */
    /* padding: 0; */
    /* margin: 0; */
  }
  .pagination-controls {
    display: flex;
    gap: 15px;
}

.pagination-button {
    width: 100px;
    height: 40px;
    font-size: 16px;
}

.pagination-info {
    font-size: 14px;
    width: 40px;
}
}

/* Medium screens, 768px to 991px */
@media (min-width: 769px) and (max-width: 991px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 0 auto !important;

  }
}


/* Small screens, 576px to 767px */
@media (min-width: 575px) and (max-width: 991px) {
  .cards-grid {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 80px;
    margin: 0 auto !important;
    /* margin-left: -20% !important; */
    height: auto;
    justify-content: center;
    margin: 0 auto;
    /* padding: 15px 20px; */
  }

}



@media (max-width: 540px) {
  .cards-grid {
    display: flex;
    flex-direction: column;
    /* 1 card per row */
    gap: 15px;
    padding: 10px;
    margin: 0 auto !important;
    /* margin-left: 5%; */
    width: 70%;
  }
}

/* Extra small screens, 575px and below */
@media (max-width: 575px) {
  .cards-grid {
    display: flex;
    flex-direction: column;
    /* 1 card per row */
    gap: 15px;
    margin: 0 auto !important;
    padding: 10px;
  }
}

/* 430px screen*/
@media (max-width: 430px) {
  .cards-grid {
    display: flex;
    flex-direction: column;
    /* 1 card per row */
    gap: 15px;
    padding: 10px;
    margin: 0 auto !important;
    /* margin-left: -6% !important; */
    width: 90%;
  }
}

@media (max-width: 375px), (max-width:390px) {

  .cards-grid {
    display: flex !important;
    flex-direction: column !important;
    /* 1 card per row */
    gap: 25px;
    margin: 0 auto !important;
    padding: 5px;
    left: 0%;
  }
}

@media (max-width: 360px) {

  .cards-grid {
    display: flex;
    flex-direction: column;
    /* 1 card per row */
    gap: 25px;
    padding: 5px;
    /* margin-left: -15% !important; */
    margin: 0 auto !important;
    width: 100%;
  }
}

/* Very small screens, 375px and below */
@media (max-width: 375px) {

  .cards-grid {
    display: flex !important;
    flex-direction: column !important;
    /* 1 card per row */
    gap: 25px;
    margin: 0 auto !important;
    padding: 5px;
    /* left: -6%; */
  }

  /* .card-hover__text {
    max-height: 4vh;
  } */
}

@media (max-width: 344px) {

  .cards-grid {
    display: flex;
    flex-direction: column;
    /* 1 card per row */
    gap: 25px;
    margin: 0 auto !important;
    padding: 5px;
  }
}

@media (max-width: 412px) {

  .cards-grid {
    display: flex;
    flex-direction: column;
    /* 1 card per row */
    gap: 25px;
    margin: 0 auto !important;
    padding: 5px;
    /* margin-left: -8%; */
  }
}


@media (max-width: 414px) {

  .cards-grid {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 5px;
    /* margin-left: -8%; */
    margin: 0 auto !important;

  }
}


@media (max-width: 428px) {

  .cards-grid {
    display: flex;
    flex-direction: column;
    /* 1 card per row */
    gap: 25px;
    margin: 0 auto !important;
    padding: 5px;
    margin-left: -8%;
  }
}
